.elements {
  margin: 50px auto 0 auto;
  max-width: 880px;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .elements {
    margin: 30px auto 0 auto;
    max-width: 320px;
    width: 100%;
  }
}

