.popup__container {
  position: relative;
  
  margin: auto;
  padding-bottom: 36px;
  max-width: 430px;
  width: 100%;

  background: white;
  border-radius: 10px;
}

@media screen and (max-width: 767px) {
  .popup__container {
    margin: auto;
    max-width: 282px;
  }
}